*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.font20{
  font-size: 20px;
}
.colorLight{
  color: #fff;
}
.colorGray{
  color: #C6C6D4;
}
.colorDark{
  color: rgb(0, 0, 0);
}
#hero_area{
  color: white;
  background-image: linear-gradient(rgba(70, 33, 173, 0.651), rgba(70, 33, 173, 0.651)), url("/img/zachary-nelson-192289-unsplash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.logo_container{
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000042;
  border-radius: 0 0 45px 45px; 
  opacity: 1;
  width: 247px;
  height: 104px;
}
.logo{
  background-color: #5F41B6;
  width: 39px;
  height: 39px;
  border-radius: 11px;
  color: #FFEE00;
  font-size: 25px;
  font-weight: bold;
  margin-top: 17px;

}
nav{
  position: relative;
}
.bg-light {
  background-color: #f8f9fa00!important;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.active a{
  border-bottom: 2px solid #fff;
}
.active a:hover{
   color: #fff;
}
.nav-item a:hover{
    color: #fff;

}
.logo2{
  background-color: #5F41B6;
  width: 39px;
  height: 39px;
  border-radius: 11px;
  color: #FFEE00;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%)


}
@media (max-width:768px){
  .top-logo{
    display: none !important;
  }
  .bg-light {
    background-color: #ffffff!important;
  }
  #nav{
    display: none;
  }
}
@media (min-width:768px){
#nav-bar{
  display: none;
}
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.search-field{
  height: 36px;
  width: 208px !important;
  border-radius: 18px;
}
.card{
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  position: relative;
}

.card-title{
  font-size: 9px;
}
.card-text{
  font-size: 7px;
}
.CTA{
  background-color: #E8E8E8;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.CTA i{
  font-size: 12px;
  font-weight: bold;
  color: #303336;
}
.card_image{
  height: 37px;
  width: 37px;
  position: absolute;
  top: 8px;
  right: 16px;
}
.card-btn button{
  height: 24px;
  width: 120px;
  position: absolute;
  bottom: 62px;
  right: 21px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  font-size: 10px;
}
.play{

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #DDDDDD;
}
.play i{
  font-size: 10px;
  font-weight: bold;
  color:#838D8F 
}
.list{
  border-bottom: 1px solid rgb(214, 214, 214);
}
.fa-download{
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.fa-play-circle{
  color: #838D8F;
}
.card-content h5{
  font-size: 23px;
}
.card-content h3{
  font-size: 15px;
}
.card-content p{
  font-size: 13px;
}

.card-btn2 button{
  height: 24px;
  width: 120px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  font-size: 10px;
}
.cta-btn{
 width: 253px;
 height: 43px;
 border-radius: 22px;
 border: 1px solid #fff;
}
.cta-su{
  border: 1px solid #fff;
  background-color: #ffffff00;
  color: #fff;
  outline: none;
 }
 .cta-su:focus,
 .cta-li:focus{
  outline: 0;
 }
 .cta-li{
  border: 1px solid #fff;
  background-color: #ffffff;
  color:#8D89FC;
 }



